*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
}
.container{
    margin-top: 2rem;
}
.ScatterChart{
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
}